{% extends "layout.html" %}
 
{% block body %}
<button type="button" class="btn btn-primary">Admission</button>
<button type="button" class="btn btn-primary">Student Info</button>
<button type="button" class="btn btn-primary">School Info</button>
<button type="button" class="btn btn-primary">Galery</button>
<button type="button" class="btn btn-primary">Faculties</button>
<button type="button" class="btn btn-primary">Area</button>
<br><br>
<p> Need to add functionality for these buttons. This is just a sample</p>

<a href = {{ url_for ("index") }}> Home Page</a>
{% endblock %}
</body>
</html>
